body{
    margin: 2em;
}
nav{
    padding: 0 50%;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a{
    padding: 1em;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration-color: rgb(3, 122, 82);
    color: rgb(109, 237, 237);
    background-color: rgb(226, 226, 20);
}
header{
    height: 500px;
    background-position: center;
    background-size: cover;
    background-image: url("https://via.placeholder.com/1920x1080.png");
}
h2{
    text-align: center;
    margin-left: 5em;
    font-size: large;
}
#main{
    margin: 2%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
}
.second{
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second ul li .one{
    color: rgb(205, 16, 247);
}
.second ul li .two{
    color: rgb(157, 250, 70);
}
.second ul li .three{
    color: rgb(246, 226, 8);
}
.third{
    padding-left: 20px;
    justify-content: space-between;
}
footer{
    text-align: center;
    align-items: center;
    background-color: rgb(6, 248, 248);
}
